.box {
  border: 2px solid #ccc;
  border-color: beige;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.minus {
  display: inline-block;
  height: 50px;
  width: 200px;
  background-color: brown;
  flex-direction: row;
  margin-right: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

.plus {
  display: inline-block;
  height: 50PX;
  width: 200px;
  background-color: brown;
  margin-right: 10px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}